.heading {
  background: rgb(155, 155, 155);
  padding: 1rem;
  width: 30%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 3rem;
  color: #fff;
  text-align: center;
}
.text {
  font-size: 1.2rem;
  text-align: center;
}

@media only screen and (max-width: 1045px) {
  .heading {
    padding-top: 3rem;
    width: 100%;
    background: transparent;
    text-align: center;
    text-shadow: 0.05rem 0.05rem 0.05rem rgba(0, 0, 0, 0.81);
  }
  .text {
    font-size: 1rem;
    text-align: left;
  }
}
